body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}



.nav-first{
    display: flex;
    list-style: none;
gap: 30px;
}

.ll:hover{
    background-color: white;
    border-radius: 6px;
    padding: 4px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding-left: 8px;
    padding-right: 8px;
    padding:20px;
}

.nav-link{
    text-decoration: none;
    color: black;
}

.main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 0;

}

.main-text{

color: black;
text-align: center;
}

.but{
    background-color: lightgray;
    width: 70px;
    border: 2px solid lightgray;
    border-radius: 4px;
}

.but:hover{
    background-color: black;
    color: white;
    /* padding: 4px; */
    border-radius: 7px;
    border: 2px solid black;
}



.link{
    color: white;
    text-decoration: none;
    font-style: italic;
    text-transform:uppercase
}

.copy{
    color: white;
    text-align: center;
}

.prog{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.hh{
    color: white;
    /* text-align: center; */
    font-style: italic;

}


    /* text-align: center; */

.Hire{
    text-decoration: none;
    list-style: none;
    color: gray;
}

.Hire:hover{
    border-bottom: 2px solid black;

}

.Hire-1{
    color: black;
}

footer {
    background-color: lightgray;
    color:black;
    padding: 10px 0;
    text-align: center;
    padding: 20px;
}

   